// File to RC
// Copyright (c) 2007-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2007-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/FileToRC.Application/Application.rh>
#include <XYO/FileToRC.Application/Copyright.rh>
#include <XYO/FileToRC.Application/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_FILETORC_APPLICATION,"file-to-rc.exe","FileToRC - Convert file to RC source")
XYO_APPLICATION_MANIFEST("Application.manifest")
