// File to RC
// Copyright (c) 2007-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2007-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/FileToRC/Library.rh>
#include <XYO/FileToRC/Copyright.rh>
#include <XYO/FileToRC/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_FILETORC,"xyo-file-to-rc.dll","FileToRC - Convert file to RC source")
